body {
    background: beige;
    padding: 0 10px;
}

thead {
    font-weight: 600;
}

td {
    padding: 5px;
}

td.col-1 {
    padding-right: 100px;
}

input#name {
    padding: 5px;
}

button {
    font-weight: 600;
    padding: 5px 20px;
}

button#login {
    float: right;
}

/* li {
  list-style-type: none;
  font-weight: 600;
} */