body {
    background: beige;
    padding: 0 10px;
}

thead {
    font-weight: 600;
}

table.cart-form {    
    border: solid 1px;
}

table.cart, table.cart td {
    border: solid 1px;
    border-collapse: collapse;
}

td {
    padding: 5px;
}

td.col-1 {
    padding-right: 100px;
}

input#name {
    padding: 5px;
}

button {
    font-weight: 600;
    padding: 5px 20px;
}

button#login, button#add {
    float: right;
}

form#save {
    display: flex;
}

span.save-info {
    display: flex;
    align-items: center;

    margin-left: 20px;
    font-weight: bold;

    background-color: yellow;
}

/* li {
  list-style-type: none;
  font-weight: 600;
} */