<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart List</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1><span data-th-text="${username}"></span></h1>
    
    <div data-th-if="${cartList == null or cartList.empty}"><h2>Your cart is empty!</h2></div>
    
    <div data-th-if="${cartList != null and !cartList.empty}">
        <h2>Your shopping cart(s)</h2>
        <ul>
            <li data-th-each="cID : ${cartList}">
                <a data-th-href="@{/cart/{cartID}(cartID=${cID})}">
                    <h2><code data-th-text="${cID}"></code></h2>
                </a>
            </li>
        </ul>
    </div>

    <br>
    <form method="POST" action="/new">
        <button type="submit" id="new">New</button>
    </form>
    <br>
    <form action="/">
        <button type="submit" id="logout">Log out</button>
    </form>
</body>
</html>